/**
 * Place your custom CSS styles here.
 **/

.autopac-fixed-div {
    background: rgba(200, 54, 54, 0.3) !important;

    position: fixed !important;
    padding-right: 25px !important;
    padding-left: 25px !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    left: 5% !important;
    top: 45% !important;
    border-radius: 0px 15px 15px 0px;
    
    transform: translateX(-50%) !important;
    z-index: 100000 !important;
    pointer-events: none !important;
}
