/**
 * Place your custom CSS styles here.
 **/

<<<<<<< HEAD
.autopac-fixed {
=======
.autopac-fixed-div {
>>>>>>> fintual_popup
    background: rgba(200, 54, 54, 0.1) !important;

    position: fixed !important;
    padding-right: 50% !important;
    padding-left: 50% !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    left: 50% !important;
    top: 0% !important;
    transform: translateX(-50%) !important;
    z-index: 100000 !important;
}
