	#mainPopup {

        height: 150px;
        width: 200px;
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
		font-family: Helvetica, Ubuntu, Arial, sans-serif;
	}
	h1 {
		font-size: 2em;
	}
    div {
        text-align:center
    }
    button {
        text-align: center;
	    width: 100%;
    }
    input {
        text-align: center;
	    width: 100%;
    }
